interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: http://service.tsetmc.com/tsev2/data/TseClient2.aspx?t=ClosingPrices&a=68635710163497089,20230514,0%3B71483646978964608,20230514,0%3B46348559193224090,20230514,0%3B38568786927478796,20230514,0%3B778253364357513,20230514,0%3B35796086458096255,20230514,0%3B26787658273107220,20130818,0%3B9211775239375291,20211213,0
  response:
    body:
      string: 68635710163497089,20230515,6400.00,6310.00,3456,47779696,305562497580.00,6210.00,6770.00,6530.00,6770.00;68635710163497089,20230517,6470.00,6540.00,1992,26609353,172282265120.00,6250.00,6550.00,6400.00,6250.00;68635710163497089,20230520,6340.00,6330.00,4090,35878847,227292823850.00,6190.00,6650.00,6470.00,6600.00;68635710163497089,20230521,6520.00,6650.00,2010,36925784,240704744130.00,6250.00,6650.00,6340.00,6270.00;68635710163497089,20230522,6820.00,6840.00,2365,48457349,330588346480.00,6660.0[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://service.tsetmc.com/tsev2/data/TseClient2.aspx?t=ClosingPrices&a=0,68635710163497089,20230514,0%3B1,71483646978964608,20230514,0%3B2,46348559193224090,20230514,0%3B3,38568786927478796,20230514,0%3B4,778253364357513,20230514,0%3B5,35796086458096255,20230514,0%3B6,26787658273107220,20130818,0%3B7,9211775239375291,20211213,0
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Last-Modified:
      - Tue, 05 Sep 2023 21:43:48 GMT
      Location:
      - /GeneralError.aspx?aspxerrorpath=/tsev2/data/TseClient2.aspx
      X-Farams-Options:
      - DENY
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: http://service.tsetmc.com/GeneralError.aspx?aspxerrorpath=/tsev2/data/TseClient2.aspx
  response:
    body:
      string: "\r\n<!DOCTYPE html>\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head><title>\r\n\tGeneral
        Error Detected\r\n</title></head>\r\n<body>\r\n    <form method=\"post\" action=\"./GeneralError.aspx?aspxerrorpath=%2ftsev2%2fdata%2fTseClient2.aspx\"
        id=\"form1\">\r\n<input type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\"
        value=\"/wEPDwUJNzgzNDMwNTMzZGTf8IZiPIETGQBgz4klKGlKRC+hCw+my3PRpEfo+93vPw==\"
        />\r\n\r\n<input type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"
        value=\"08A9DA7C\" />\r\n    <div>\r\n        <table width=\"50%\" style=\"border:
        1px solid #808080;margin-left:auto;margin-right:auto;\"><tr><td align=center>General
        Error Detected<br />Please Try Later</td></tr></table>\r\n    </div>\r\n    </form>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Farams-Options:
      - DENY
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://service.tsetmc.com/GeneralError.aspx?aspxerrorpath=/tsev2/data/TseClient2.aspx
  response:
    body:
      string: "\r\n<!DOCTYPE html>\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head><title>\r\n\tGeneral
        Error Detected\r\n</title></head>\r\n<body>\r\n    <form method=\"post\" action=\"./GeneralError.aspx?aspxerrorpath=%2ftsev2%2fdata%2fTseClient2.aspx\"
        id=\"form1\">\r\n<input type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\"
        value=\"/wEPDwUJNzgzNDMwNTMzZGTf8IZiPIETGQBgz4klKGlKRC+hCw+my3PRpEfo+93vPw==\"
        />\r\n\r\n<input type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"
        value=\"08A9DA7C\" />\r\n    <div>\r\n        <table width=\"50%\" style=\"border:
        1px solid #808080;margin-left:auto;margin-right:auto;\"><tr><td align=center>General
        Error Detected<br />Please Try Later</td></tr></table>\r\n    </div>\r\n    </form>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Farams-Options:
      - DENY
    status:
      code: 500
      message: Internal Server Error
version: 1
